body{
    margin: 0;
}
@media screen and (min-width: 600px){
    .square{
        height: 100px;
        width: 33%;
        background-color: blue;
        border: green  solid 5px;
        border-radius: 50%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square{
        height: 100px;
        width: 66%;
        background-color: red;
        border: yellow 5px solid;
        border-radius: 15px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .square{
        height: 100px;
        width: 100%;
        background-color: orange;
        border: 5px solid;
        border-radius: 5px;
    }
}