body{
    margin: 0;
}
@media screen and (min-width: 1024px) {
    .square{
        height: 100px;
        width: 33%;
        background-color: blue;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square{
        height: 100px;
        width: 66%;
        background-color: red;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .square{
        height: 100px;
        width: 100%;
        background-color: orange;
    }
}