@media screen and (min-width: 1024px) {
    h1{
        font-size: 50px;
        color: red;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    h1{
        font-size: 25px;
        color: blue;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    h1{
        font-size: 15px;
        color: green;
    }
}