body{
    margin: 0;
}
@media screen and (min-width: 600px) {
    .un{
        height: 100px;
        width: 33%;
        background-color: red;
    }
    .deux{
        height: 100px;
        width: 33%;
        background-color: green;
    }
    .trois{
        height: 100px;
        width: 33%;
        background-color: orange;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .un{
        height: 100px;
        width: 50%;
        background-color: red;
    }
    .deux{
        height: 100px;
        width: 50%;
        background-color: green;
    }
    .trois{
        height: 100px;
        width: 50%;
        background-color: orange;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .un{
        height: 100px;
        width: 100%;
        background-color: red;
    }
    .deux{
        height: 100px;
        width: 100%;
        background-color: green;
    }
    .trois{
        height: 100px;
        width: 100%;
        background-color: orange;
    }
}